* { box-sizing: border-box; }

body { font-family: sans-serif; }

h1 {
    text-align: center;
}

/* ---- grid ---- */

.grid {
  /* background: #EEE; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 100%;
  max-width: 260px;
  float: left;
  padding: 0 20px;
  background: #FED33D;
  /* border: 2px solid #333; */
  /* border-color: hsla(0, 0%, 0%, 0.5); */
  margin-bottom: 40px;
  border-radius: 16px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
